div {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.style1 {
    background-color: rgb(75, 75, 75);
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;

}

main {
    background-color: gray;
    grid-column: 1 / 2;
}

nav {
    color: #fff;
    background-color: black;
    padding: 1rem;
}

header {
    grid-column: 1 / 4;
}

footer {
    grid-column: 1 / 4;
}